@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 1.1em;
    position: relative;
    background-color: #0693e3;

}

h1,h2,h3,h4,h5,h6{
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
}
h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
}
h2{
    margin-top: 2em;
}
.content, .extra-materials, .git-commands{
    background-color: white;
    color: #222;
    max-width: 800px;

    padding: 10px;
    margin: 0 auto;
}
 .content, .extra-materials{
    display: flex;
    grid-template-columns: auto auto;

}
.extra-materials{
    display:grid;
    justify-content: center;
}
.extra-materials div {
     text-align: left;
}
.left-content{
    border-right: #0693e3 solid thin;
     flex: 50%;
}
.right-content{
    flex: 50%;
}
.content ul, .extra-materials ul{
  list-style-type: none;
  text-align:left;
  padding: 0 1em;
  margin-left: 0;
  line-height: 1.5em;
  flex: 1;

}
.content a:link,  .content  a:visited, .content  a:active{
  color: #222;
} .content  a:hover {
    color: #444;
}
.extra-materials a:link,  .extra-materials  a:visited, .extra-materials  a:hover , .extra-materials  a:active{
  color: #222;
}

#container{
    text-align: center;
}
main{
    margin-top: 1em;
    display: inline-block;
    max-width: 600px;
        width: 100%;
}

footer{
    text-align: center;
    width: 100%;
    padding: 1em 0em;
    display: block;
    margin-top: 5vh;
    color: rgb(255, 255, 255);
}

#logo-container{
    display: inline-block;
    max-width: 400px;
    height: auto;
    position: relative;
    margin-top: 2em;
    overflow: hidden;
}
.main_heading{
    width: 70%;
    height: auto;
    position: absolute;
    left: 15%;
    top: 35%;
    text-align: center;
}
#motivation_quote{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 62%;
    width: 100%;
}
.rotate {
    width: 100%;
    animation: rotation 30s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
}

.ifrm {
    opacity: 0;
    transition: opacity .25s linear;
    border: none;
    display: none;
    background-color: white;
    height: 500px;
    width: 125%;
    transform: scale(0.8);
    transform-origin: 0 0;
}
.trig:hover + iframe {
  opacity: 1;
  transition: opacity .25s linear;
  display: block;
  position: fixed;
  top: 0;
  right: -14vw;
  width: 50vw;
  height: 125vh;

}
.content .trig:hover ~ .fade{
    display: block;
    position: fixed;
    bottom: 0;
    right: -14vw;
    width: 50vw;
    height: 80vh;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
#timeline{
    background-color: rgb(253, 186, 0);
    height: 15px;
    position: relative;
    z-index: -1;
}
#timeline img{
    height: 20px;
    position: absolute;
    right: -20px;
    z-index: -1;
}
.season2{
    border-top: #0693e3 solid thin;
}

@media only screen and (max-width: 900px) {
    h1{
    margin-top:0;}
    .rotate{
    width: 80%;
    }
    .content .trig:hover + iframe,.extra-materials .trig:hover + iframe {
        display: none;
        top: 0;
        left: 0;
        width: 130vw;
        height: 60vh;
    }
     .content .trig:hover ~ .fade{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vh;
    }
}
