@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
/* Light Theme */
:root {
  --background: white;
  --primary: darkslategrey;
  --secondary: rgb(76, 129, 129);
  --sidebartext: white;
  --maintext: #111;
  --mainbg: white;
  --mainitalic: #333;
}
/*  Dark Theme
:root {
  --background: #222;
  --primary: rgb(0, 126, 126);
  --secondary: rgb(27, 85, 85);
  --sidebartext: white;
  --maintext: white;
  --mainbg: #222;
  --mainitalic: #999;
}
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
}

h2,
h4,
h5,
h6 {
  margin-top: 1.25em;
  margin-bottom: 0.75em;
}
main h2 {
  color: var(--primary);
}
h2 {
  border-bottom: solid thin var(--primary);
}
main {
  background-color: var(--mainbg);
  padding: 1em;
}
main i {
  color: var(--mainitalic);
}
main p,
main b,
main h3 {
  color: var(--maintext);
}
h3,
main b {
  margin-top: 0;
  line-height: 1.1em;
}
.center {
  text-align: center;
}
#container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
}
h1 span {
  font-size: 16px;
  font-weight: normal;
}
aside {
  background-color: var(--primary);
  color: var(--sidebartext);
  min-width: 250px;
  padding: 1em;
}

.contact {
  font-size: 0.9em;
  list-style-type: none;
  padding: 0;
  line-height: 2em;
}

.contact li a {
  color: var(--sidebartext);
  text-decoration: none;
}
.contact li a:hover {
  text-decoration: underline;
}
#avatar {
  max-width: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
}
.wrapper div {
  flex: 2;
}
.wrapper div + div {
  flex: 3;
  margin-left: 1.5em;
}
.skills {
  padding: 0;
  list-style-type: none;
}
.skills li {
  margin-bottom: 1em;
}
.skills li div {
  height: 25px;
  background-color: var(--secondary);
  white-space: nowrap;
  padding-left: 1em;
  margin-left: -1em;
  /* text-shadow: 1px 1px 2px black; */
}
.row {
  display: flex;
}
.row p {
  flex: 1;
  padding-right: 1.5em;
  hyphens: auto;
}
.row p b {
  hyphens: none;
}
.skills li span {
  color: var(--secondary);
}
.grade1 {
  width: 20%;
}
.grade2 {
  width: 40%;
}
.grade3 {
  width: 60%;
}
.grade4 {
  width: 80%;
}
.grade5 {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  #container {
    display: block;
  }
  aside,
  main {
    width: 100%;
  }
  .wrapper {
    display: block;
  }
  .wrapper div + div {
    margin: 0;
  }
  .row {
    display: block;
  }
}
