
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: cadetblue;
}
div:not(div div){
    min-height: 200px;
    background-color: #222;
    margin-bottom: 1em;
}
div div{
    background-color: cadetblue;
    padding: 1em;
}
/* demos */
.case1{
    display: block;
}
.case1 div{
    display: block;
}
.case2{
    text-align: center;
}
.case2 div{
    display: inline-block;

}
.case3{
    display: flex;
    text-align: center;
}
.case3 div{
    display: block;
}
.case4 {
    display: flex;
    justify-content: center;
}

.case5{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.case6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.case7{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.case8, .case9, .case10{
    background-color: cadetblue;
}
.case8 img{
    float: none;
}
.case9 img{
    float: left;
}
.case10 img{
    float: right;
}